In [1]:
# Packages for data preprocessing
import numpy as np
import pandas as pd
import io
import requests

In [2]:
# Read and import data
adidas_df = pd.read_excel("Adidas US Sales Datasets.xlsx")
adidas_df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [3]:
# Check data type of each variable
print(f"Shape of the dataset = {adidas_df.shape} \n")
adidas_df.dtypes

Shape of the dataset = (9648, 13)

Retailer                    object
Retailer ID                  int64
Invoice Date        datetime64[ns]
Region                      object
State                       object
City                        object
Product                     object
Price per Unit             float64
Units Sold                   int64
Total Sales                float64
Operating Profit           float64
Operating Margin           float64
Sales Method                object
dtype: object

In [4]:
# Checking categorical variables
categorical_var = adidas_df.columns[adidas_df.dtypes==object].tolist()

for var in categorical_var:
    unique_values = adidas_df[var].unique()
    print(f'{len(unique_values)} unique values for ' + var)
    print(adidas_df[var].unique())
    print('')

6 unique values for Retailer
['Foot Locker' 'Walmart' 'Sports Direct' 'West Gear' "Kohl's" 'Amazon']

5 unique values for Region
['Northeast' 'South' 'West' 'Midwest' 'Southeast']

50 unique values for State
['New York' 'Texas' 'California' 'Illinois' 'Pennsylvania' 'Nevada'
 'Colorado' 'Washington' 'Florida' 'Minnesota' 'Montana' 'Tennessee'
 'Nebraska' 'Alabama' 'Maine' 'Alaska' 'Hawaii' 'Wyoming' 'Virginia'
 'Michigan' 'Missouri' 'Utah' 'Oregon' 'Louisiana' 'Idaho' 'Arizona'
 'New Mexico' 'Georgia' 'South Carolina' 'North Carolina' 'Ohio'
 'Kentucky' 'Mississippi' 'Arkansas' 'Oklahoma' 'Kansas' 'South Dakota'
 'North Dakota' 'Iowa' 'Wisconsin' 'Indiana' 'West Virginia' 'Maryland'
 'Delaware' 'New Jersey' 'Connecticut' 'Rhode Island' 'Massachusetts'
 'Vermont' 'New Hampshire']

52 unique values for City
['New York' 'Houston' 'San Francisco' 'Los Angeles' 'Chicago' 'Dallas'
 'Philadelphia' 'Las Vegas' 'Denver' 'Seattle' 'Miami' 'Minneapolis'
 'Billings' 'Knoxville' 'Omaha' 'Birmingham' 'Portland' 'Anchorage'
 'Honolulu' 'Orlando' 'Albany' 'Cheyenne' 'Richmond' 'Detroit' 'St. Louis'
 'Salt Lake City' 'New Orleans' 'Boise' 'Phoenix' 'Albuquerque' 'Atlanta'
 'Charleston' 'Charlotte' 'Columbus' 'Louisville' 'Jackson' 'Little Rock'
 'Oklahoma City' 'Wichita' 'Sioux Falls' 'Fargo' 'Des Moines' 'Milwaukee'
 'Indianapolis' 'Baltimore' 'Wilmington' 'Newark' 'Hartford' 'Providence'
 'Boston' 'Burlington' 'Manchester']

6 unique values for Product
["Men's Street Footwear" "Men's Athletic Footwear"
 "Women's Street Footwear" "Women's Athletic Footwear" "Men's Apparel"
 "Women's Apparel"]

3 unique values for Sales Method
['In-store' 'Outlet' 'Online']

In [5]:
# Filtering data from 2011 only
adidas_df = adidas_df[adidas_df["Invoice Date"].dt.year == 2021]

In [9]:
# Check missing values
adidas_df.isna().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [10]:
# Find duplicate for all columns
adidas_df.duplicated().sum()

0

In [6]:
# Display dataframe again to check the filter
adidas_df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
165,West Gear,1128299,2021-01-01,West,California,San Francisco,Men's Athletic Footwear,65.0,750,487500.0,121875.0,0.25,Outlet
166,West Gear,1128299,2021-01-02,West,California,San Francisco,Women's Street Footwear,65.0,750,487500.0,195000.0,0.40,Outlet
167,West Gear,1128299,2021-01-03,West,California,San Francisco,Women's Athletic Footwear,60.0,650,390000.0,136500.0,0.35,Outlet
168,West Gear,1128299,2021-01-04,West,California,San Francisco,Men's Apparel,65.0,550,357500.0,196625.0,0.55,Outlet
169,West Gear,1128299,2021-01-05,West,California,San Francisco,Women's Apparel,80.0,725,580000.0,116000.0,0.20,Outlet

In [8]:
# Statistical Summary
adidas_df.describe(include='float64').T

,count,mean,std,min,25%,50%,75%,max
Price per Unit,8346.0,44.372154,14.631328,7.0,35.0000,45.00,54.0,110.0
Total Sales,8346.0,86007.842080,131330.187492,0.0,3904.5000,8620.00,136875.0,825000.0
Operating Profit,8346.0,32202.144605,50863.758202,0.0,1774.9275,4019.04,48125.0,371250.0
Operating Margin,8346.0,0.425996,0.094454,0.1,0.3500,0.41,0.5,0.8

In [13]:
# Adidas Sales Performance Metadata Summary
from tabulate import tabulate
feature_adidas = [['Name', 'Type', 'Units', 'Description'],
                  ['Retailer', 'Norminal Categorical', 'N/A', 'Name of distributor'],
                  ['Invoice Date', 'Date-Time', 'N/A', 'Date of transaction'],
                  ['Region','Norminal Categorical','N/A','Regions of The United States'],
                  ['State','Norminal Categorical','N/A','States of The United States'],
                  ['City','Norminal Categorical','N/A','Cities of The United States'],
                  ['Product','Norminal Categorical','N/A','Names of each product category'],
                  ['Price per Unit','Numerical','USD ($)','Price for each product sold'],
                  ['Units Sold','Numerical','Unit','Number of product sold'],
                  ['Total Sales','Numerical','USD ($)','Total amount of revenue for each transaction (price per unit x units sold)'],
                  ['Operating Profit','Numerical','USD ($)','Profit for each transaction after excluding expenses, depreciation, interest, and tax'],
                  ['Operating Margin','Numerical','Percentage (%)','Profit Margin of each transaction (operating profit / total sales)'],
                  ['Sales Method','Norminal Categorical','N/A','Distribution chanels/steams: InStore - Online - Outlet']
                 ]


print(tabulate(feature_adidas, headers = 'firstrow', tablefmt = 'fancy_grid'))

╒══════════════════╤══════════════════════╤════════════════╤═══════════════════════════════════════════════════════════════════════════════════════╕
│ Name             │ Type                 │ Units          │ Description                                                                           │
╞══════════════════╪══════════════════════╪════════════════╪═══════════════════════════════════════════════════════════════════════════════════════╡
│ Retailer         │ Norminal Categorical │ N/A            │ Name of distributor                                                                   │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Invoice Date     │ Date-Time            │ N/A            │ Date of transaction                                                                   │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Region           │ Norminal Categorical │ N/A            │ Regions of The United States                                                          │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ State            │ Norminal Categorical │ N/A            │ States of The United States                                                           │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ City             │ Norminal Categorical │ N/A            │ Cities of The United States                                                           │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Product          │ Norminal Categorical │ N/A            │ Names of each product category                                                        │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Price per Unit   │ Numerical            │ USD ($)        │ Price for each product sold                                                           │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Units Sold       │ Numerical            │ Unit           │ Number of product sold                                                                │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Total Sales      │ Numerical            │ USD ($)        │ Total amount of revenue for each transaction (price per unit x units sold)            │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Operating Profit │ Numerical            │ USD ($)        │ Profit for each transaction after excluding expenses, depreciation, interest, and tax │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Operating Margin │ Numerical            │ Percentage (%) │ Profit Margin of each transaction (operating profit / total sales)                    │
├──────────────────┼──────────────────────┼────────────────┼───────────────────────────────────────────────────────────────────────────────────────┤
│ Sales Method     │ Norminal Categorical │ N/A            │ Distribution chanels/steams: InStore - Online - Outlet                                │
╘══════════════════╧══════════════════════╧════════════════╧═══════════════════════════════════════════════════════════════════════════════════════╛